<configuration>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProperty scope="context" name="environment" source="sentry.environment"/>
  <springProperty scope="context" name="dsn" source="sentry.dsn"/>
  <!--
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
      <options>
        <dsn>${dsn}</dsn>
        <environment>${environment}</environment>
      </options>
    </appender>
  -->

  <root level="INFO">
    <appender-ref ref="Console" />
    <!--    <appender-ref ref="Sentry" />-->
  </root>
</configuration>
